%html
  %head
    %script{ type: "text/javascript", src: "src/stuff.js" }
    / stylesheet reset & style!
    %link{ rel: "stylesheet", type: "text/css", href: "/css/main.css" }
    / %link{ rel: "stylesheet", type: "text/css", href: "/css/style.css" }
    %link{ rel: "stylesheet", type: "text/css", href: "/css/stylesheet.css" }
    %title Technote


  %body{onload: "checkCookie()", class: "dark"}

    / header stuff
    %div{id: "header"}
      %h1 Technote --eez ugly, no?
      %hr
      

    / sidepane stuff
    %div{id: "sidepane"}
      %nav
        %ul
          %li
            %a{href: "/new"} new
          %li
            %a{href: "/find"} find
          %li
            %a{href: "/workorders"} list workorders
          %li
            %a{href: "/techs"} list techs
        %div{id: "user"}
          :javascript
            txt = "Welcome " + getCookie("username");
            document.getElementById("user").innerHTML=txt;
        %button{ type: "button", class: "css3button", onclick: "clearCookie('username')"}
          logout

    / main stuff
    %div{id: "main"}
      =yield