%script{type: "text/javascript", src: "src/stuff.js"}

%p{onclick: "checkCookie()"}
  am i logged in?  if i am, my name is:

/ masichism...
%p{id: "myP"}
:javascript
  var user=getCookie("username");
  document.getElementById("myP").innerHTML=user;

// moar...
%button{type: "button", class: "css3button", onclick: "clearCookie('username')"}
  click me to log out!!!

