%h2
  New Workorder!!!

%form
  %table
    %tr
      %td
        Company:
      %td
        %input{type: "text", name: "company"}
    %tr
      %td
        Name:
      %td
        %input{type: "text", name: "name"}
    %tr
      %td
        Street:
      %td
        %input{type: "text", name: "street"}
    %tr
      %td
        City:
      %td
        %input{type: "text", name: "city"}

