/* kuz i gotz eet!!! */


button.css3button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #123d54;
  padding: 5px 5px;
  background: -moz-linear-gradient(
    top,
    #ebf1f5 0%,
    #ab5797);
  background: -webkit-gradient(
    linear, left top, left bottom, 
    from(#ebf1f5),
    to(#ab5797));
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #003366;
  -moz-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,1);
  -webkit-box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,1);
  box-shadow:
    0px 1px 3px rgba(000,000,000,0.5),
    inset 0px 0px 1px rgba(255,255,255,1);
  text-shadow:
    -1px -1px 0px rgba(000,000,000,0),
    0px 1px 0px rgba(255,255,255,0.3);
}
