body
  background-color: green
  font-size: 0.7em

#sidepane
  background-color: #FFD700
  height: 200px
  width: 100px
  float: left
  position: fixed
  top: 150px
  left: 50px

#main
  background-color: blue
  width: 500px
  position: absolute
  left: 220px
  top: 150px
